<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlink}}
  </head>
  <body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12  main_header_right error">
                        <figure>
                           <img src="images/error.jpg" alt="mad" class="errorimg">
                        </figure>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
  </body>
</html>
