<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlink}}
  </head>
  <body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12  main_header_left">
                        <p>Welcome to WeatherApp</p>
                        <h1>Hey! I am <span class="text_color">Kaushal</span>, i am pursuing my btech in CSE from LPU and I am learning Full stack development.</h1>
                        <a href="https://www.linkedin.com/in/im-kaushal" target="_Kaushal"><button>Linkedin</button></a>
                    </div>
                    <!-- right side div -->
                    {{!-- <div class="col-md-6 col-12  main_header_right">
                        <figure>
                            <img src="images/about2.png" alt="mad" class="aboutimg">
                        </figure>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
  </body>
</html>
